alias python='python3'
alias pip='pip3'
alias lg='ll -a | grep '
alias hg='history | grep '
alias hv='history | vim -'
alias copy='xsel -ib'
alias paste='xsel --clipboard'
alias vimclipboard='paste | vim -'
alias mv="mv -v"
alias rm="rm -v"
alias cp="cp -v"
alias install="sudo apt install "
alias update="sudo apt update"
alias ll="ls -lah"
alias ca="conda activate"
alias jn="jupyter notebook"
